<div class="board-cells">
  <tic-tac-toe-cell [rowIndex]="0" [columnIndex]="0" (cellClick)="onClickHandler($event)" [cellState]="ticTacToeGameService.getCellState(0, 0)"></tic-tac-toe-cell>
  <tic-tac-toe-cell [rowIndex]="0" [columnIndex]="1" (cellClick)="onClickHandler($event)" [cellState]="ticTacToeGameService.getCellState(0, 1)"></tic-tac-toe-cell>
  <tic-tac-toe-cell [rowIndex]="0" [columnIndex]="2" (cellClick)="onClickHandler($event)" [cellState]="ticTacToeGameService.getCellState(0, 2)"></tic-tac-toe-cell>
  <tic-tac-toe-cell [rowIndex]="1" [columnIndex]="0" (cellClick)="onClickHandler($event)" [cellState]="ticTacToeGameService.getCellState(1, 0)"></tic-tac-toe-cell>
  <tic-tac-toe-cell [rowIndex]="1" [columnIndex]="1" (cellClick)="onClickHandler($event)" [cellState]="ticTacToeGameService.getCellState(1, 1)"></tic-tac-toe-cell>
  <tic-tac-toe-cell [rowIndex]="1" [columnIndex]="2" (cellClick)="onClickHandler($event)" [cellState]="ticTacToeGameService.getCellState(1, 2)"></tic-tac-toe-cell>
  <tic-tac-toe-cell [rowIndex]="2" [columnIndex]="0" (cellClick)="onClickHandler($event)" [cellState]="ticTacToeGameService.getCellState(2, 0)"></tic-tac-toe-cell>
  <tic-tac-toe-cell [rowIndex]="2" [columnIndex]="1" (cellClick)="onClickHandler($event)" [cellState]="ticTacToeGameService.getCellState(2, 1)"></tic-tac-toe-cell>
  <tic-tac-toe-cell [rowIndex]="2" [columnIndex]="2" (cellClick)="onClickHandler($event)" [cellState]="ticTacToeGameService.getCellState(2, 2)"></tic-tac-toe-cell>
</div>
